<div class="container container-fluid text-center" style="margin-top:80px">
    <div class="col-xs-12 col-sm-8 col-lg-9 text-right">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <!-- <img src="images/anh.jpg" class="img-responsive" style="width:100%" alt="Image"> -->
                    <video controls width="100%" class="video-responsive" src="assets/Summer.mp4?autoplay=0" frameborder="0" gesture="media" allowfullscreen  controls="controls" ></video>
                </div>
                <div class="panel-footer">
                    <a href="userlivestream.html" title="">Le Thanh Thuy</a>
                    <p>880 views</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <!-- <img src="imgs/anh.jpg" class="img-responsive" style="width:100%" alt="Image"> -->
                    <video controls width="100%" class="video-responsive" src="assets/Summer.mp4?autoplay=0" frameborder="0" gesture="media" allowfullscreen  controls="controls" ></video>
                </div>
                <div class="panel-footer">
                    <a href="#" title="">Le Thanh Thuy</a>
                    <p>880 views</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <!-- <img src="imgs/anh.jpg" class="img-responsive" style="width:100%" alt="Image"> -->
                    <video controls width="100%" class="video-responsive" src="assets/Summer.mp4?autoplay=0" frameborder="0" gesture="media" allowfullscreen  controls="controls" ></video>
                </div>
                <div class="panel-footer">
                    <a href="#" title="">Le Thanh Thuy</a>
                    <p>880 views</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <!-- <img src="imgs/anh.jpg" class="img-responsive" style="width:100%" alt="Image"> -->
                    <video controls width="100%" class="video-responsive" src="assets/Summer.mp4?autoplay=0" frameborder="0" gesture="media" allowfullscreen  controls="controls" ></video>
                </div>
                <div class="panel-footer">
                    <a href="#" title="">Le Thanh Thuy</a>
                    <p>880 views</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <!-- <img src="imgs/anh.jpg" class="img-responsive" style="width:100%" alt="Image"> -->
                    <video controls width="100%" class="video-responsive" src="assets/Summer.mp4?autoplay=0" frameborder="0" gesture="media" allowfullscreen  controls="controls" ></video>
                </div>
                <div class="panel-footer">
                    <a href="#" title="">Le Thanh Thuy</a>
                    <p>880 views</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <!-- <img src="imgs/anh.jpg" class="img-responsive" style="width:100%" alt="Image"> -->
                    <video controls width="100%" class="video-responsive" src="assets/Summer.mp4?autoplay=0" frameborder="0" gesture="media" allowfullscreen  controls="controls" ></video>
                </div>
                <div class="panel-footer">
                    <a href="#" title="">Le Thanh Thuy</a>
                    <p>880 views</p>
                </div>
            </div>
        </div>
    </div>
    <div class=" col-xs-0 col-sm-4 col-lg-3 text-left">
        <div class="col-xs-12 smallcalllist" id="smallcalllist">
            <button type="button" class="btn btn-primary btn-block text-left">Call list</button>
        </div>
        <div class="calllist" id="calllist">
            <h4 style="text-align: center;">Call list</h4>
            <hr>
            <div class="person">
                <div class="col-xs-2 avatar">
                    <img alt="avatar" src="/assets/anh-1.png" style="width: 40px; height :40px; " />
                </div>
                <div class="col-xs-10 nameperson">
                    <a href="#" title="">Phuong Pham</a>
                    <span class="state"></span>
                </div>
            </div>
            <div class="person">
                <div class="col-xs-2 avatar">
                    <img src="/assets/anh-1.png" alt="" style="width: 40px; height :40px; ">
                </div>
                <div class="col-xs-10 nameperson">
                    <a href="#" title="">Phuong Pham</a>
                    <span class="state"></span>
                </div>
            </div>

            <div class="person">
                <div class="col-xs-2 avatar">
                    <img src="/assets/anh-1.png" alt="" style="width: 40px; height :40px; ">
                </div>
                <div class="col-xs-10 nameperson">
                    <a href="#" title="">Chiến Văn Nguyễn</a>
                    <span class="state"></span>
                </div>
            </div>
            <div class="person">
                <div class="col-xs-2 avatar">
                    <img src="/assets/anh-1.png" alt="" style="width: 40px; height :40px; ">
                </div>
                <div class="col-xs-10 nameperson">
                    <a href="#" title="">Lạc Lạc</a>
                    <span class="state"></span>
                </div>
            </div>
            <div class="person">
                <div class="col-xs-2 avatar">
                    <img src="/assets/anh-1.png" alt="" style="width: 40px; height :40px; ">
                </div>
                <div class="col-xs-10 nameperson">
                    <a href="#" title="">Duc Minh Vu</a>
                    <span class="state"></span>
                </div>
            </div>
            <div class="person">
                <div class="col-xs-2 avatar">
                    <img src="/assets/anh-1.png" alt="" style="width: 40px; height :40px; ">
                </div>
                <div class="col-xs-10 nameperson">
                    <a href="#" title="">Phuong Pham</a>
                    <span class="state"></span>
                </div>
            </div>
            <div class="person">
                <div class="col-xs-2 avatar">
                    <img src="/assets/anh-1.png" alt="" style="width: 40px; height :40px; ">
                </div>
                <div class="col-xs-10 nameperson">
                    <a href="#" title="">Vũ Minh Quang</a>
                    <span class="state"></span>
                </div>
            </div>
            <div class="person">
                <div class="col-xs-2 avatar">
                    <img src="/assets/anh-1.png" alt="" style="width: 40px; height :40px; ">
                </div>
                <div class="col-xs-10 nameperson">
                    <a href="#" title="">Phuong Pham</a>
                    <span class="state"></span>
                </div>
            </div>

        </div>
    </div>
    <!-- </div> -->
</div>